.davi {
  font-family: "Diplomata SC", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 95px;
}

.titulos {
  font-family: "Anek Latin", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.paragrafos {
  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 20px;

}

@media (max-width:768px) {
  .davi {
    font-family: "Diplomata SC", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;


  }

  .tagmark {
    font-size: 12px;
  }
}

.ajustes-imagem {
  position: absolute;
  left: 3%;
}

.header-background {
  background-image: url("img/background.jpeg");
}