.technoblade {
    font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.fofis {
  font-family: "Playball", cursive;
  font-weight: 400;
  font-style: normal;
}